.infoCardHeadline {
    font-family: serif;
    font-size: 2.25rem;
    font-weight: normal;
    color:black;
    border: 2px solid black;
    font-weight: bold;
}

.infoCardContainer {
    margin: 0px;
    padding: 0 auto;
    max-width: 1260px;
}

.infoCardCallActionContainer :global(.vtex-button) {
    color: #fff;
    background-color:gray;
    border: transparent;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
    color: #000;
    background-color:white;
    border: transparent;
}

.infoCardContainer--vintage {
    background-color: #e1e1e1
}

.infoCardContainer--metal {
    background-color:#e1e1e1;
}


.infoCardContainer--t-heading-2{
    color: #FFF;
}